<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameley.mapper.DemoDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gameley.entity.Demo">
		            <result property="id" column="id"/>
		            <result property="name" column="name"/>
		            <result property="createdate" column="createdate"/>
		            <result property="remark" column="remark"/>
		            <result property="deleteFlag" column="delete_flag"/>
			</resultMap>


</mapper>
