<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameley.mapper.RoleMenuDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gameley.entity.RoleMenu">
            <result property="id" column="id"/>
            <result property="roleId" column="role_id"/>
            <result property="menuId" column="menu_id"/>
	</resultMap>


</mapper>
