package ${package}.controller;


import org.springframework.web.bind.annotation.RequestMapping;


import org.springframework.web.bind.annotation.RestController;
import lombok.extern.slf4j.Slf4j;
/**
 * <p>
 * $!{comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${datetime}
 */

@RestController
@RequestMapping("${secondModuleName}")
@Slf4j
public class ${className}Controller {

	
}
