<template>
  <div>
      <el-form :inline="true" :model="queryForm" class="demo-form-inline">
          <el-form-item>
              <el-select v-model="queryForm.id" filterable clearable placeholder="">
                  <el-option
                          v-for=""
                          :key=""
                          :label=""
                          :value="">
                  </el-option>
              </el-select>
          </el-form-item>
          <el-form-item>
              <el-date-picker v-model="queryForm.time" type="date" placeholder="选择日期"></el-date-picker>
          </el-form-item>
          <el-form-item>
              <el-button type="primary" @click="query">查询</el-button>
          </el-form-item>
      </el-form>

    <el-table :data="page.items"   border style="width: 100%">

#foreach($column in $columns)
  #if($column.columnName == $pk.columnName)
    <el-table-column align="center" label="${column.columnName}" width="65">
      <template scope="scope">
        <span>{{scope.row.${column.attrname}}}</span>
      </template>
    </el-table-column>
  #else
    <el-table-column width="200px" align="center" label="${column.comments}">
      <template scope="scope">
        <span>{{scope.row.${column.attrname}}}</span>
      </template>
    </el-table-column>
  #end
#end
      <el-table-column fixed="right" align="center" label="操作" width="150">
          <template scope="scope">
        <el-button  size="mini" type="primary" @click="handleEdit(dialogFormVisible,scope.index,scope.row)">编辑
        </el-button>
        <el-button  size="mini" type="danger" @click="handleDelete(scope.index,scope.row)">删除
        </el-button>
      </template>
      </el-table-column>
    </el-table>
      <page :page.once="page" :query.once="queryForm" ref="page"></page>
      <deleteDialog v-on:deleteCon="deleteSubmit" :deleteObj="deleteObj" deleteMsg="" :dialogDeleteVisible="dialogDeleteFormVisible"></deleteDialog>

      <el-dialog title="新建" :visible.sync="dialogFormVisible">
      <el-form :model="formData" :rules="rules" ref="form" label-width="120px">
#foreach($column in $columns)
  #if($column.columnName != $pk.columnName)
    <el-form-item label="${column.comments}" prop="${column.attrname}">
      <el-input v-model="formData.${column.attrname}" placeholder="请输入${column.comments}"></el-input>
    </el-form-item>
  #end
#end
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible=false">取 消</el-button>
        <el-button  type="primary" @click="formValidate()" :loading="isloading">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
    import Vue from 'vue'
    import page from '../common/page.vue'
    import utils from '../../assets/util/utils';
    import {mixin}from '../../assets/util/mixin';
    import {ERR_MSG, MENUID, URL} from "../../assets/constants/constant-common"

    export default {
    data() {
      return {
          createData: {formId:-1,
#foreach($column in $columns)
    ${column.attrname} : null#if($velocityCount != $columns.size()),#end

#end
        },
        rules: {
#foreach($column in $columns)
  #if($column.columnName != $pk.columnName)
${column.attrname}: [
  {
    required: true,
    message: '请输入${column.comments}',
    trigger: 'blur'
  },
  {
    min: 3,
    max: 20,
    message: '长度在 3 到 20 个字符',
    trigger: 'blur'
  }
]#if($velocityCount != $columns.size()), #end#end
#end
        },
        queryForm:{time:null,
                id:null,
        },
        dialogFormVisible: false,
                menuId:"getpage${className}",
                deleteUrl:MENUID.delete${className},



      }
    },
    created() {
        this.formData=utils.clone(this.createData);

    },
        mixins: [mixin],
        methods: {
            formSubmit:function () {
                let id=this.formData.formId;
                if(id===-1){
                    this.$ http.post(URL+MENUID.add${className},this.formData).then(function (response) {
                    this.query();
                    this.dialogFormVisible=false;
                    this.setMsg("创建成功");
                    }, function (response) {
                        this.isloading=false;

                    });
                }else{
                    this.$ http.post(URL+MENUID.edit${className},this.formData).then(function (response) {

                    this.query();
                    this.setMsg("修改成功");
                    this.dialogFormVisible = false
                    }, function (response) {
                    this.isloading=false;

                    });
                }

            },


    }
  }
</script>
