//只生成该表格的基础配置
MENUID={
   add${className}:"/${secondModuleName}/add",
   edit${className}:"/${secondModuleName}/edit",
   delete${className}:"/${secondModuleName}/delete",
   getall${className}:"/${secondModuleName}/getall",
   getpage${className}:"/${secondModuleName}/getpage",

}

 ,{
      path: '${path}',
      component: function (resolve) {
        require(['./components/${path}'], resolve)
      }
  },


SQL:
insert into base_menu (code,title,menu_id,parent_id,href,icon,type,order_num,description,path)
	values ('${code}','${comments}','${menuid}','${parentid}','','','menu',1,'${comments}','${path}');
insert into base_element (code,type,name,uri,menu_id,method,description)
	values (100?,'button','add${className}','/${secondModuleName}/add','${menuid}','post','新增${comments}' );
insert into base_element (code,type,name,uri,menu_id,method,description)
	values (200?,'button','edit${className}','/${secondModuleName}/edit','${menuid}','post','编辑${comments}' );
insert into base_element (code,type,name,uri,menu_id,method,description)
	values (300?,'button','delete${className}','/${secondModuleName}/delete','${menuid}','post','删除${comments}' );
insert into base_element (code,type,name,uri,menu_id,method,description)
	values (400?,'other','getall${className}','/${secondModuleName}/getall','${menuid}','post','查询所有${comments}' );
insert into base_element (code,type,name,uri,menu_id,method,description)
	values (500?,'other','getpage${className}','/${secondModuleName}/getpage','${menuid}','post','查询分页${comments}' );
