package ${package}.dao;

import ${package}.entity.${className};
import com.baomidou.mybatisplus.mapper.BaseMapper;

/**
 *
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Dao extends BaseMapper<${className}> {

}